body {
    font-family: Arial, sans-serif;
    direction: rtl;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    color: #008080;
}

form {
    margin-bottom: 20px;
}

input[type="text"], input[type="password"], input[type="file"] {
    display: block;
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
}

button {
    background-color: #008080;
    color: #fff;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #005959;
}

#projects-gallery {
    display: flex;
    flex-wrap: wrap;
}

.project-thumbnail {
    margin: 10px;
    border: 1px solid #ddd;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.project-thumbnail img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}
