/* General Styles */
body {
    font-family: 'Kufam', sans-serif;
    background-color: #121212; /* Dark background */
    color: #fff; /* White text */
    margin: 0;
    padding: 0;
    direction: rtl;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Header Styles */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f1f1f;
    padding: 15px 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.header .logo {
    width: 50px; /* Smaller logo */
    height: 50px;
    border-radius: 50%; /* Smooth edges */
}

.login-form {
    margin-top: 20px;
    background-color: #1f1f1f;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.login-form input {
    display: block;
    margin: 10px auto;
    padding: 10px;
    width: 80%;
    border: none;
    border-radius: 5px;
}

.login-form button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #ffd700;
    cursor: pointer;
    font-size: 16px;
}

/* Projects, Apps, and News Container Styles */
.projects-container, .apps-container, .news-container {
    margin-top: 20px;
}

.project, .app, .news {
    margin-top: 20px;
    background-color: #1f1f1f;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.project img, .app img, .news img {
    max-width: 100%;
    border-radius: 10px;
}

.project h2, .app h2, .news h2 {
    margin: 10px 0;
}

.download-link {
    display: block;
    margin-top: 10px;
    color: #ffd700;
    text-decoration: none;
}

.star-rating {
    display: flex;
    justify-content: center;
    direction: ltr; /* Direction for the stars layout */
}

.star-rating .fa-star {
    color: #ddd;
    cursor: pointer;
    transition: color 0.3s;
}

.star-rating .fa-star.selected,
.star-rating .fa-star:hover,
.star-rating .fa-star:hover ~ .fa-star {
    color: #ffd700;
}
